body{
    margin:0;
    height: 100vh;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(calc(min(100vw / 1440, 100vh / 900)));
    transform-origin: center;
}
.pdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.align{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    font-size: 17px;
    color: grey;
    font-weight: 300;
    font-family: "Moderustic", sans-serif;
    margin-bottom: 90px;
}
#Guest,#Nams,#Children,#addprofiles{
    width: 125px;
    height: 125px;
    margin: 0.5rem;
    text-align: center;
    cursor: pointer;
    transition: 0.05s ease-in-out;
    border-radius: 4px;
}
#Guest:hover #guest_img,#Nams:hover #nams_img,#Children:hover #children_img{
    border-color: white;
}
#Guest:hover p,#Nams:hover p,#Children:hover p, #addprofiles:hover p{
    color: white;
}
#addprofiles:hover{
    background-color: white;
}
#nams_img,#guest_img,#children_img,#add_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.3rem;
    margin-bottom: -5px;
    box-sizing: border-box;
    border: 0.15em solid transparent;
}

#title{
    color: white;
    font-family: "Moderustic", sans-serif;
    font-weight: 350;
    font-size: 43px;
    margin-bottom : 15px;
}
#manage{
    background-color: transparent;
    border: 0.1em solid grey;
    color: grey;
    cursor: pointer;
    letter-spacing:  2px;
    font-family: "Moderustic", sans-serif;
    font-weight: 300;
    padding: 0.5em 1.5em;
    font-size: 15px;
    display: block;
    transition: 0.05s ease-in-out;
}
#manage:hover{
    color: white;
    border-color: white;
}
#title{
    font-size: clamp(30px,4vw,60px);
}
#Guest,#Nams,#Children,#addprofiles{
    width: clamp(80px,9vw,200px);
    height: clamp(80px,9vw,200px);
}

.align p{
    font-size: clamp(12px,1vw,18px);
}

#manage{
    font-size: clamp(12px,1vw,16px);
}